.button {
  position: relative;
  min-height: 38px;
  min-width: 120px;
  button {
    position: absolute;
    min-height: 38px;
    min-width: 120px;
    @include lisa-style;
    box-shadow: 3px 3px black;
    background: white;
    padding: 4px 20px;
    cursor: pointer;
    top: -2px;
    left: -2px;
    &:hover {
      @include button-shift;
    }
  }
  &.loading {
    button {
      @include button-shift;
    }
  }
}
