.content {
  border-radius: 0 10px 10px 10px;
  background: none;
  border: 2px solid $black;
  .table {
    padding: 10px 10px 5px 10px;
    background: $light;
    border-radius: 0 8px 8px 8px;
    .header {
      display: flex;
      > div {
        flex: 1;
        color: $mid-gray;
        &:last-child {
          text-align: right;
        }
        padding: 10px;
        img {
          padding-left: 3px;
          cursor: pointer;
        }
      }
    }
    .row {
      display: flex;
      margin: 10px 0;
      border: 2px solid $black;
      background: $light;
      box-shadow: 2px 2px $black;
      min-height: 50px;
      border-radius: 8px;
      &:hover {
        box-shadow: none;
      }
      &.removing {
        color: $dark-gray;
      }
      > div {
        border-right: 1px dotted $black;
        padding: 10px;
        flex: 1;
        &:last-child {
          border: none;
          text-align: right;
        }
      }
    }
    .not-found-results {
      border-top: 2px solid $black;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 200px;
      img {
        padding-bottom: 10px;
      }
    }
  }
}
