.content {
  border-radius: 0 10px 10px 10px;
  background: none;
  border: 2px solid $black;
  .table {
    padding: 10px 10px 5px 10px;
    .header {
      display: flex;
      > div {
        flex: 1;
        color: lighten($black, 30);
        &:last-child {
          text-align: right;
        }
        padding: 10px;
      }
    }
    .row {
      display: flex;
      margin: 10px 0;
      border: 2px solid $black;
      background: $light;
      box-shadow: 2px 2px black;
      min-height: 50px;
      border-radius: 8px;
      > div {
        border-right: 1px solid $dark-gray;
        padding: 10px;
        flex: 1;
        &:last-child {
          border: none;
          text-align: right;
        }
      }
    }
  }
}