.content {
  border-radius: 0 10px 10px 10px;
  background: none;
  border: 2px solid $black;
  .table {
    padding: 10px 10px 5px 10px;
    background: $light;
    border-radius: 8px;
    border-top-left-radius: 0px;
    .header {
      display: flex;
      > div {
        flex: 1;
        color: lighten($black, 30);
        &:last-child {
          text-align: right;
        }
        padding: 10px;
      }
    }
    .row {
      display: flex;
      margin: 10px 0;
      border: 2px solid $black;
      background: $light;
      box-shadow: 2px 2px $black;
      min-height: 50px;
      border-radius: 8px;
      > div {
        border-right: 1px dotted $black;
        padding: 10px;
        flex: 1;
        &:last-child {
          border: none;
          text-align: right;
        }
      }
      .actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        > div.action {
          position: relative;
          display: flex;
          justify-content: flex-end;
          height: 30px;
          width: 30px;
          margin: 4px;
          .tooltip {
            position: absolute;
            display: none;
            z-index: 2222;
            border: 2px solid $black;
            background: $light;
            top: -50px;
            left: -20px;
            padding: 10px;
            border-radius: 4px;
          }
          &:hover {
            .tooltip {
              display: block;
            }
          }
          img {
            position: absolute;
            padding: 2px;
            border: 2px solid $black;
            box-shadow: 2px 2px $black;
            border-radius: 8px;
            background: white;
            cursor: pointer;
            width: auto;
            height: 24px;
            top: -2px;
            right: 0;

            &:hover {
              top: 0;
              right: -2px;
              box-shadow: none;
            }
          }
        }
      }
    }
    .not-found {
      border-top: 2px solid $black;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 200px;
    }
  }
}
