.navigation {
  background: $light;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid $black;
  .user {
    display: flex;
    align-items: center;
    p {
      padding-right: 10px;
    }
    .logout {
      cursor: pointer;
      width: 30px;
      height: auto;
    }
  }
}
