.switcher {
  border-radius: 8px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  > .tab {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    width: 100px;
    font-weight: 600;
    margin-right: 4px;
    padding: 10px;
    cursor: pointer;
    border: 2px solid $black;
    border-bottom: none;
    &:hover,
    &.active {
      background: $black;
      color: $light
    }
  }
  .search-tab {
    flex: 4;
    padding-right: 10px;
    text-align: right;
  }
}
