@mixin lisa-style {
  border-radius: 8px;
  border: 2px solid $black;
  background: $light;
}

@mixin easeInOut($place, $speed) {
  -webkit-animation: $place $speed infinite ease-in-out;
  -moz-animation: $place $speed infinite ease-in-out;
  animation: $place $speed infinite ease-in-out;
}

@mixin button-shift {
  top: 0;
  left: 0;
  box-shadow: none;
}

@mixin toCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}